body {
  background-image: linear-gradient(to top,#F4E4C9,#E0B541);
  /* background-color: #F4E4C9; */
}

.top-div-space{
    margin-top: 0;
  }

  .new-feature{
    background-image: linear-gradient(to right,#e82ac5,#fff,#432ae8);
  }

  .nav-button{
    border-radius: 5%;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transform-style: preserve-3d;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .nav-button:hover {
    /* Slight upward translation and scale to give a floating effect */
    transform: translateY(-3px) scale(1.01);
    /* Deeper shadow on hover */
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  }

  .custom-table{
    background-image: linear-gradient(to bottom,#e82ac5,#fff,#432ae8);
  }

  .bg-custom{
    background: #8BCBB7;
  }